@model List<Product>

<div class="card shadow border-0 my-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white">Product List</h2>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 text-end p-3">
            <a asp-controller="Product" asp-action="Create" class="btn btn-primary">
                <i class="bi bi-plus-circle"></i> Create New Product
            </a>
        </div>
    </div>
    <div class="card-body p-3">
        <form asp-controller="Product" asp-action="Create" class="row">
            <div class="border p-3">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Product Title</th>   
                            <th>Product Description</th>
                            <th>ISBN</th>
                            <th>Author</th>
                            <th>List Price</th>
                            <th>Price</th>
                            <th>Price50</th>
                            <th>Price100</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.Title</td>
                                <td>@item.Description</td>
                                <td>@item.ISBN</td>
                                <td>@item.Author</td>
                                <td>@item.ListPrice</td>
                                <td>@item.Price</td>
                                <td>@item.Price50</td>
                                <td>@item.Price100</td>

                                <td class="text-end">
                                    <div class="m-75 btn-group" role="group">
                                        <a asp-controller="Product" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary mx-2">
                                            <i class="bi bi-pencil-square"></i>Edit
                                        </a>

                                        <a asp-controller="Product" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger mx-2">
                                            <i class="bi bi-trash"></i>Delete
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
        </form>
    </div>
</div>

